@define-color window_bg_color #282828;
@define-color window_fg_color #d4be98;
@define-color view_bg_color #32302f;
@define-color view_fg_color #d4be98;
@define-color headerbar_bg_color #282828;
@define-color headerbar_fg_color #ddc7a1;
@define-color card_bg_color #3c3836;
@define-color card_fg_color #d4be98;
@define-color popover_bg_color #3c3836;
@define-color popover_fg_color #d4be98;
@define-color accent_color #d8a657;
@define-color accent_bg_color #d8a657;
@define-color accent_fg_color #282828;
@define-color destructive_color #ea6962;
@define-color destructive_bg_color #ea6962;
@define-color destructive_fg_color #282828;
@define-color dialog_bg_color #282828;
@define-color dialog_fg_color #d4be98;
@define-color sidebar_bg_color #282828;
@define-color sidebar_fg_color #d4be98;
@define-color borders #504945;

.boxed-list, list, row, .content-list, preferencesgroup {
    background-color: #32302f;
    color: #d4be98;
}
row:hover { background-color: #3c3836; }
